 <div style="background-color:#FFFFFF;max-width:600px;margin:0px auto;font-family:Poppins, Arial, sans-serif;font-size:14px;line-height:18px;text-align:left;color:#6D6D88; font-weight: 400">
   <div style="padding:50px">
     <div style="font-weight: 700">Bonjour,</div>
     <div style="margin-top:30px">Une invitation vous a été envoyée.</div>
     <div style="margin-top:30px">Vous avez été invité à rejoindre l'organisation <span style="color: #061174; font-weight: 700">{{organizationName}}</span>. Si vous ne souhaitez pas la rejoindre, vous pouvez ignorer cet e-mail. </div>
     <div style="max-width:374px;margin:0px auto;cursor:pointer;height:58px;line-height:58px;background:#061174; margin-top:50px">
       <a href={{joinOrganizationUrl}} target="_blank" style="text-decoration: none;">
         <div style="text-align:center;color:#FFFFFF"> Rejoindre l'organisation <span style="font-weight: 700">{{organizationName}}</span>
         </div>
       </a>
     </div>
     <div style="background-color:#F5F3F8;text-align:center;padding:20px 30px 20px 30px; margin-top:68px">
       <div style="font-size:10px;line-height:12px;color:#061174; font-weight: 700; margin-bottom: 23px"> Si le bouton ne s'affiche pas, copiez le lien ci-dessous et collez-le dans votre navigateur : </div>
       <a href="{{joinOrganizationUrl}}" style="color: #1155cc; text-decoration: none">
         <div style="font-size:8px; color:#1155CC; line-height:9px; overflow-wrap: break-word">{{joinOrganizationUrl}}</div>
       </a>
     </div>
     <div style="font-size:12px; line-height:25px; margin-top:50px"> Cordialement, <br />L'équipe Signaleo </div>
   </div>
 </div>